{% extends "layout.html" %}.

{% block content %}

<style>
    span {
        display: block;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="form-group">

            <label for="exampleFormControlTextarea1">
                <h1>Chat</h1>
            </label>
            <div id="messages" class="container rounded border border-primary"
                style="width: auto; height: 300px; max-height: 300px; min-height: 300px; word-wrap: break-word; overflow-y: auto;"></div>

            <br>
            <br>
            <br>

            <input id="myMessage" class="form-control" type="text" placeholder="Escribe tu mensaje.">
            <br>
            <button id="send" type="button" class="btn btn-primary float-right">Enviar</button>

        </div>
    </div>
</div>



<!--SocketIO-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<!--JS code-->
<script>

    const socket = io();

    socket.on('message', function (msg) {
        $('#messages').append('<p class="list-group-item list-group-item-action">' + msg + '</p>');
    });

    $('#send').on('click', function () {
        socket.send($('#myMessage').val());
        $('#myMessage').val('');
    });

</script>
<!--JS code-->

{% endblock %}